* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

form {
    flex: 1;
    padding-right: 20px;
}

.map {
    flex: 1;
}

h1 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form, .map {
        padding: 0;
    }
}
